/* resets */
:root{
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

input, select{
    padding: 5px;
}

/* page styling */
.container{
    max-width: 100vw;
    min-height: 100vh;
    background: lightblue;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero{
    margin: 10px 0 20px 10px;
    font-weight: 600;
    font-size: 2rem;
}

.newBookBtn,
.addBookBtn{
    padding: 5px 10px;
    margin: 0 0 20px 0;
    background: green;
    color: white;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.removeBtn{
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}

/* cards */

.cardContainer{
    background-color: rgba(255, 255, 255, 0.4);
    width: 85%;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 2rem;
    justify-content: space-evenly;
}

.card{
    background-color: azure;
    max-width: 20%;
    min-width: 200px;
    height: 350px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: black  0 5px 5px -5px;
}

.cardTitle{
    font-weight: 600;
    font-size: 1.5rem;
}

.cardDesc{
    flex: 1;
    overflow: auto;
}

.cardStatus{
    color: green;
    font-weight: 600;
}

/* Dialog */
.dialog{
    position: fixed;
    top: 20px;
    margin: 100px auto;
    border-radius: 10px;
}

.dialogForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
}

.dialogForm > *{
    display: flex;
    flex-direction: column;
}